{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Symfony Blog{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

    {% endblock %}
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <h1><a href="{{ path('home') }}">Blog Symfony Incroyable</a></h1>
        <nav class="links">
            <ul>
                <li><a href="{{ path('home') }}">Acceuil</a></li>
                <li><a href="{{ path('blog') }}"> Les Articles </a> </li>
                {% if not app.user %}
                <li><a href="{{ path('security_login') }}">Login</a></li>
                    <li><a href="{{ path('security_registration') }}">Inscription</a></li>

                {% else %}
                    <li><a href="{{ path('blog_create') }}">Créer un article</a> </li>
                    <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</div>



{% block content %}  {% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $('select').formSelect();
    </script>
{% endblock %}
</body>
</html>