{% extends 'base.html.twig' %}

{% block content %}

<h1>Créer un article</h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr':{'placeholder':"Titre de l'article"}}) }}


    {{ form_row(formArticle.apercu, {'attr':{'placeholder':"Apercu de l'article"}}) }}


    {{ form_row(formArticle.content, {'attr':{'placeholder':"Contenu de l'article"}}) }}


    {{ form_row(formArticle.image, {'attr':{'placeholder':"Image de l'article"}}) }}


    {{ form_row(formArticle.auteur, {'attr':{'placeholder':"Auteur de l'article"}}) }}

      {% if editMode %}
          <button type="submit">Enregistrer les modifications</button>
          <a href="{{ path('blog_remove', {'id' : article.id}) }}">Supprimer l'article</a>
      {% else %}
            <button type="submit">Créer</button>
      {% endif %}



    {{ form_end(formArticle) }}

{% endblock %}