{% extends "base.html.twig" %}
{% block title %} Article | {{ parent() }} {% endblock %}


{% block content %}

    <div id="main">

        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.apercu }}</p>
                </div>
                <div class="meta">
                    <time class="published" >{{ article.dateatt | date ('d/m/Y') }} à {{ article.dateatt | date('H:i')  }}</time>
                    <a href="#" class="author"><span class="name">{{ article.auteur }}</span></a>
                </div>
            </header>
            <a class="image featured"><img src="{{ article.image }}" alt="" /></a>
            {{ article.content | raw}}
        </article>
        {% if app.user %}
            <a href="{{ path('blog_edit', {'id' : article.id}) }}">Modifier l'article</a>
        {% endif %}
    </div>
{% endblock %}
